<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.cmu.cs.speech.tts.flite" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:enabled="true" android:name="FliteEngine"
			android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.START_TTS_ENGINE" />
				<category android:name="android.intent.category.tts_engine.FLITE" />
				<category android:name="android.intent.category.tts_lang.en.US" />
			</intent-filter>
		</activity>
	</application>
</manifest> 
